# Generic
GENESIS_URL=https://snapshots-testnet.nodejumper.io/0g-testnet/genesis.json
ADDRBOOK_URL=https://snapshots-testnet.nodejumper.io/0g-testnet/addrbook.json
PEERS=""
SEEDS=c4d619f6088cb0b24b4ab43a0510bf9251ab5d7f@54.241.167.190:26656,44d11d4ba92a01b520923f51632d2450984d5886@54.176.175.48:26656,f2693dd86766b5bf8fd6ab87e2e970d564d20aff@54.193.250.204:26656
CHAIN_ID=zgtendermint_16600-1
MONIKER=kantandadui

# 0g-validator
RECOVER_FROM_SNAPSHOTS=false
SNAPSHOTS_PATH=/dev/null

# 0g-storage
RPC_ENDPOINT=https://0g-evm.rpc.nodebrand.xyz
MINER_KEY=0x....
DB_DIR=/root/.0g-storage
NETWORK_DIR=/root/.0g-storage
STORAGE_BOOT_NODES='["/ip4/54.219.26.22/udp/1234/p2p/16Uiu2HAmTVDGNhkHD98zDnJxQWu3i1FL1aFYeh9wiQTNu4pDCgps","/ip4/52.52.127.117/udp/1234/p2p/16Uiu2HAkzRjxK2gorngB1Xq84qDrT4hSVznYDHj6BkbaE4SGx9oS"]'

